  body {
	padding-top: 10px;
	padding-bottom: 40px;
  }

  /* Custom container */
  .container-narrow {
	margin: 0 auto;
	max-width: 100%;
  }
  .container-narrow > hr {
	margin: 30px 0;
  }

  /* Main marketing message and sign up button */
  .jumbotron {
	margin: 20px 0;
	text-align: center;
  }
  .jumbotron h1 {
	font-size: 72px;
	line-height: 1;
  }
  .jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
  }
  
  /* dropzone */
  #dropzone-upload {
	background-color: #CCC;
	height: 100px;
  }
  
  /* masonry */
  #container {
	text-align: center;
  }
  
  #container img {
	max-width: 350px;
	max-height: 350px;
  }
  
  .box {
	margin: 5px;
  }